
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  color: #0c5127;
  background-color: #f4dfda;
  font-weight: bold;
  font-size: 16px;
  background-image: url(twoTriangles.gif);
  background-position: top;

}

header {
display: inline-block;
width: 100%;
margin-top: 10vw;
margin-left: 12vw;
position: relative;

}

.line1 {
  margin-top: 1vw;
  width: 100%;
  border-top: 0.2px solid #0c5127;
}

.line2 {
  margin-top: 0.5vw;
  width: 100%;
  border-top: 0.2px solid #0c5127;
}

.line3 {
  margin-top: 0.5vw;
  width: 100%;
  border-top: 0.2px solid #0c5127;
}



.wrapperLeft {
  position: fixed;
  width: 50%;
}


/*.wrapperRight {
float: left;
}*/

.option{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 20vw;
  margin: 0;
}

.highlighted{
 background: rgba(0, 0, 0, 0.5);
 color: white;
  border-radius: 5px;
  width: 20vw;
  margin: 0;
}


.dropdown {
  width: 300px;
  float: left;
  margin-left: 12vw;
}

.resultContainer {
  float: right;
  margin-top: 8vh;
  background-color: rgba(255, 255, 255, 0.5);
  width: 22vw;
  margin-right: 12vw;
  border-radius: 5px;
  height: 40vh;
  padding: 10px;
}

.inputContainer {
    margin-left: 12vw;
    margin-top: 14vw;
    max-width: 300px;
    color: #0c5127;
}

.inputField {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #B9C1CA;
    margin-bottom: 3px;
    width: 100%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #0c5127;
}

.bottomLine {
    width: 0%;
    border-bottom: 4px solid;
    border-color: hsl(160, 100%, 50%);
    transition: width 0.2s;
}
.inputField:focus + div {
    width: 100%;
}


/*input[type="text"] {
font-size: 18px;
font-family: 'Raleway', sans-serif;
color: #0c5127;
}*/



@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}*/
