body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.option{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 5px;
  width: 20vw;
}

.highlighted{
 background: rgba(0, 0, 0, 0.5);
 color: white;
  border-radius: 5px;
  width: 20vw;
}

#input {
  margin-left: 10vw;
}

.dropdown {
  width: 40vw;
  float: left;
  margin-left: 10vw;
}

#definition {
  width: 50vw;
  float: right;
}
